<% if (theme.leancloud_visitors.enable) {%>
  &nbsp; | &nbsp;
  <div class="view-box">
    <span id="<%= url_for(post.path) %>" class="leancloud_visitors" data-flag-title="<%= post.title %>">
      &nbsp;<%= __('post.visitors') %><span class="leancloud-visitors-count"></span>
    </span>
  </div>
<% } %>
