<article  class="animated rubberBand article article-type-" >
  <div class="article-inner">
    <div class="categories-box">
      <h1>分类</h1>
      <% if(site.categories.length) { %>
              <%- list_categories(site.categories) %>
      <% } %> 
    </div>
  </div>
</article>

