<article  class="animated rubberBand article article-type-" >
  <div class="layout-title">
        <span><%= page.title %></span>
  </div>
  <div class="article-inner">
    <% if(site.categories.length) { %>
            <%- list_categories(site.categories) %>
    <% } %> 
  </div>
</article>

