<article  class="animated rubberBand article article-type-" >
  <div class="article-inner">
    <div class="tag-box">
      <h1>标签</h1>
      <% if(site.tags.length) { %>
        <%- tagcloud({min_font: 14, max_font: 28}) %>
      <% } %>
    </div>
  </div>
</article>

