.categories-box
  padding: 20px 50px
  margin-bottom: 100px
  h1
    font-size: 1.5em
    font-weight: bold
    margin-bottom: 20px
    text-align: center
  .category-list
    color: red
    font-weight: bold
    a
      color: black
      &:visited
        color: black
      &:hover
        color: #2098D1
    .category-list-count
      color: black


  .category-list-item
    margin: 10px 0px
  .category-list-child
    margin-left: 20px

