if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block

.avatar
  display: block
  width: 100px
  height: 100px
  border: 1px solid rgb(225,225,226)
  margin: 0 auto
  padding: 5px

.author
  margin: 10px 0px
  font-size: 0.8em
  font-weight: bold
  text-align: center

.count-box
  text-align: center
  font-size: 1.3em
  div
    display: inline-block
    padding: 0px 10px

.social-link, .friend-link
  font-size: 0px
  text-align: left
  padding: 10px 0px
  a
    display: inline-block
    width: 50%
    text-align: center
    font-size: 15px
    font-weight: bold
    color: #6e90ef
    &:hover
      background-color: #6e90ef
      color: white
      border-radius: 5px
      text-decoration: none

.friend-link
  h2
    font-size: 15px
    font-weight: bold
    padding: 10px 0px
    
.widget
  .blog-title
    text-align: center
    font-size: 1.4em
  .blog-subtitle
    font-size: 1.0em
    margin: 20px 0px
  .blog-link
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    a
      display: inline-block
      width: 33%
      text-align: center
      font-size: 1.3em
      padding: 5px 0px
      &:hover
        background-color: #6e90ff
        color: white
        text-decoration: none

.description
  text-align: center
  margin-bottom: 10px
  font-weight: bold