.tag-box
  text-align: center
  padding: 20px 50px
  margin-bottom: 100px
  a
    padding: 5px 10px
    display: inline-block
    margin: 10px 5px
    border-radius: 5px
    color: white
    &:nth-child(1n+0) 
      background-color: #98c3de
    &:nth-child(2n+0) 
      background-color: #f9b3c7
    &:nth-child(3n+0) 
      background-color: #ffc4f0
    &:nth-child(4n+0) 
      background-color: #cfaa36
    &:nth-child(5n+0) 
      background-color: #eab085
    &:nth-child(6n+0) 
      background-color: #d75be3
    &:nth-child(7n+0) 
      background-color: #a5b600
    &:nth-child(8n+0) 
      background-color: #94f686
  
  h1
    font-size: 1.5em
    font-weight: bold
    margin-bottom: 20px

